body {
  background: url('../img/stage.png') center center no-repeat;
  background-size: cover;
  cursor: url('/img/crosshair.png') 32 32, crosshair;
}

.game-stage {
  position: relative;
  width: 100%;
  height: 82vh;
  display: flex;
  overflow: hidden;
}

.duck {
  width: 70px;
  height: 76px;
  position: absolute;
  &:nth-child(4n + 1) {
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -220px;
    animation: duck1Fly 200ms infinite step-end alternate,
      duck1FlyingTrajectory 13s linear forwards;
    // animation: duck1Fly 200ms infinite step-end alternate, duck1 15s linear infinite;
    &.falling {
      animation: duckFall 800ms linear forwards;
      background-position: -65px -460px;
    }
  }
  &:nth-child(4n + 2) {
    background: url('../img/sprite.png') no-repeat;
    background-position: -260px -220px;
    animation: duck2Fly 200ms infinite step-end alternate,
      duck2FlyingTrajectory 10s linear forwards;
      &.falling {
        animation: duckFall 800ms linear forwards;
        background-position: -325px -460px;
      }
  }
  &:nth-child(4n + 3) {
    background: url('../img/sprite.png') no-repeat;
    background-position: -520px -220px;
    animation: duck3Fly 200ms infinite step-end alternate,
      duck3FlyingTrajectory 8s linear forwards;
      &.falling {
        animation: duckFall 800ms linear forwards;
        background-position: -585px -460px;
      }
  }
  &:nth-child(4n + 4) {
    background: url('../img/sprite.png') no-repeat;
    background-position: 0px -220px;
    animation: duck1Fly 200ms infinite step-end alternate,
      duck4FlyingTrajectory 10s linear forwards;
  }
  &:nth-child(4n + 5) {
    background: url('../img/sprite.png') no-repeat;
    background-position: -260px -220px;
    animation: duck2Fly 200ms infinite step-end alternate,
      duck5FlyingTrajectory 9s linear forwards;
  }
  &:nth-child(4n + 6) {
    background: url('../img/sprite.png') no-repeat;
    background-position: -520px -220px;
    animation: duck3Fly 200ms infinite step-end alternate,
      duck6FlyingTrajectory 7s linear forwards;
  }
}


.dog-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.dog {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  height: 100px;
}

#dogLaugh {
  display: none;
  width: 100px;
  height: 100px;
  background: url('../img/sprite.png') no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: dogAppearing 2s linear forwards,
    dogLaugh 200ms infinite steps(1) alternate;
}

#dogWithDuck {
  display: none;
  width: 100px;
  height: 100px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -650px -5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: dogAppearing 2s linear forwards;
}

#dogWalk {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  background: url('../img/sprite.png') no-repeat;
  width: 120px;
  height: 100px;
  animation: dogMove 7s linear forwards, dogWalk 4s step-start 2 forwards;
  &.jump {
    animation: dogJump 1s step-start 1 forwards;
  }
}


