@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes duckFly {
  0% {
    background-position: 0px -220px;
  }
  33% {
    background-position: -85px -220px;
  }
  66% {
    background-position: -170px -220px;
  }
  100% {
    background-position: -170px -220px;
  }
}

@keyframes duck1 {
  0% {
    left: -100px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 400px;
    opacity: 0;
  }
}

@keyframes duck2 {
  0% {
    left: -100px;
    top: 300px;
    opacity: 1;
  }
  50% {
    left: 200px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 100px;
    opacity: 0;
  }
}

@keyframes duck3 {
  0% {
    left: -100px;
    top: 200px;
    opacity: 1;
  }
  50% {
    left: 600px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 200px;
    opacity: 0;
  }
}

@keyframes duck4 {
  0% {
    left: -100px;
    top: 100px;
    opacity: 1;
  }
  50% {
    left: 800px;
    top: 500px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 0;
    opacity: 0;
  }
}

@keyframes duck5 {
  0% {
    left: -100px;
    top: 600px;
    opacity: 1;
  }
  50% {
    left: 600px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 600px;
    opacity: 0;
  }
}

@keyframes duck6 {
  0% {
    left: -100px;
    top: 100px;
    opacity: 1;
  }
  30% {
    left: 800px;
    top: 150px;
    opacity: 1;
  }
  60% {
    left: 1000px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 0px;
    opacity: 0;
  }
}

@keyframes duckFall {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: calc(100vh - 76px);
    opacity: 0;
  }
}

@keyframes dogAppearing {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}

@keyframes dogLaugh {
  0% {
    background-position: -360px -110px;
  }
  50% {
    background-position: -480px -110px;
  }
  100% {
    background-position: -360px -110px;
  }
}
