@mixin box($padding, $background) {
    padding: $padding;
    background: $background;
    border-radius: 5px;
    border: $border;
    box-shadow: $box-shadow;
}

@mixin fallingDuck {
    width: 100px;
    height: 95px;
    background: url('../img/shot.png') no-repeat center center;
}