/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Colors */
$first-color: #92e3a9;
$first-color-alt: #4fe378;
$title-color: #fff;
$body-color: #333;

/* Font and typography */
$body-font: 'Raleway', sans-serif;
$title-font: 'Press Start 2P', cursive;
$title-size: 1.2rem;
$body-size: 1rem;

/* Font weight */
$font-regular: 400;
$font-bold: 600;

/* Other */
$border: 1px solid #7FCE16;
