/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Colors */
$white: #fff;
$body-color: #333;

/* Font and typography */
$body-font: 'Raleway', sans-serif;
$title-font: 'Press Start 2P', cursive;
$title-size: 1.2rem;
$body-size: 1rem;
$btn-font-size: 2rem;

/* Font weight */
$font-regular: 400;
$font-bold: 600;

/* Other */
$border: 1px solid #7FCE16;
$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
