@charset "UTF-8";
/*
Credit to Andy Bell's Modern CSS Reset
@link https://piccalil.li/blog/a-modern-css-reset/

🟣 = additions by Stephanie Eckles 
Twitter/Github/Codepen: @5t3ph
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, 
which suggests default styling will be removed 

🟣 Selector updated to reduce specificity
*/
:where(ul, ol):where([role=list]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  /* 🟣 Set base font-family */
  font-family: system-ui, sans-serif;
}

/* A elements that don't have a class get default styles */
a {
  /* 🟣 Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* 🟣 Ensure images with a width attr responsively resize */
img[width] {
  height: auto;
}

/* 🟣 Scroll margin allowance above anchor links */
:target {
  scroll-margin-top: 2rem;
}

/* 🟣 Scroll margin allowance below focused elements 
to ensure they are clearly in view */
:focus {
  scroll-margin-bottom: 8vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/* Google Font */
/* Colors */
/* Font and typography */
/* Font weight */
/* Other */
@keyframes duckFly {
  0% {
    background-position: 0px -220px;
  }
  33% {
    background-position: -85px -220px;
  }
  66% {
    background-position: -170px -220px;
  }
  100% {
    background-position: -170px -220px;
  }
}
@keyframes duck1 {
  0% {
    left: -100px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 400px;
    opacity: 0;
  }
}
@keyframes duck2 {
  0% {
    left: -100px;
    top: 300px;
    opacity: 1;
  }
  50% {
    left: 200px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 100px;
    opacity: 0;
  }
}
@keyframes duck3 {
  0% {
    left: -100px;
    top: 200px;
    opacity: 1;
  }
  50% {
    left: 600px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 200px;
    opacity: 0;
  }
}
@keyframes duck4 {
  0% {
    left: -100px;
    top: 100px;
    opacity: 1;
  }
  50% {
    left: 800px;
    top: 500px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 0;
    opacity: 0;
  }
}
@keyframes duck5 {
  0% {
    left: -100px;
    top: 600px;
    opacity: 1;
  }
  50% {
    left: 600px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 600px;
    opacity: 0;
  }
}
@keyframes duck6 {
  0% {
    left: -100px;
    top: 100px;
    opacity: 1;
  }
  30% {
    left: 800px;
    top: 150px;
    opacity: 1;
  }
  60% {
    left: 1000px;
    top: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 0px;
    opacity: 0;
  }
}
@keyframes duckFall {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: calc(100vh - 76px);
    opacity: 0;
  }
}
@keyframes dogAppearing {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}
@keyframes dogLaugh {
  0% {
    background-position: -360px -110px;
  }
  50% {
    background-position: -480px -110px;
  }
  100% {
    background-position: -360px -110px;
  }
}
/*@keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
} */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  background: #ddd;
}

body {
  background: url("../img/stage.png") center center no-repeat;
  background-size: cover;
  cursor: url("/img/crosshair.png") 32 32, crosshair;
}

.game-stage {
  position: relative;
  width: 100%;
  height: 82vh;
  display: flex;
  overflow: hidden;
}

.btn-container {
  position: absolute;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.game-end-text-wrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duck {
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px -220px;
  width: 70px;
  height: 76px;
  position: absolute;
}

#gameOver {
  display: none;
}

#duck1 {
  animation: duckFly 200ms infinite step-end alternate, duck1 15s linear forwards;
}

#duck2 {
  animation: duckFly 200ms infinite step-end alternate, duck2 15s linear forwards;
}

#duck3 {
  animation: duckFly 200ms infinite step-end alternate, duck3 15s linear forwards;
}

#duck4 {
  animation: duckFly 200ms infinite step-end alternate, duck4 15s linear forwards;
}

#duck5 {
  animation: duckFly 200ms infinite step-end alternate, duck5 15s linear forwards;
}

#duck6 {
  animation: duckFly 200ms infinite step-end alternate, duck6 15s linear forwards;
}

.falling {
  animation: duckFall 500ms linear forwards !important;
  background-position: -65px -460px !important;
}

.dog-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.dog {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  height: 100px;
}

#dogLaugh {
  display: none;
  width: 100px;
  height: 100px;
  background: url("../img/sprite.png") no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: dogAppearing 2s linear forwards, dogLaugh 200ms infinite steps(1) alternate;
}

#dogWithDuck {
  display: none;
  width: 100px;
  height: 100px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -650px -5px;
}

.game-information {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  color: #fff;
}
.game-information > div {
  padding: 5px 10px;
  background: #000;
  border-radius: 5px;
  border: 1px solid #7FCE16;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px 2px;
}
.game-information > div h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  flex-basis: 100%;
}

#shot > div {
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px -557px;
}
#shot > div.lost {
  background: transparent;
}

#hit > div {
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -52px -557px;
}
#hit > div.success {
  background: url("../img/sprite.png") no-repeat;
  background-position: -25px -557px;
}/*# sourceMappingURL=main.css.map */