@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
html {
  line-height: 1.2; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* Remove blue border around */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Google Font */
/* Colors */
/* Font and typography */
/* Font weight */
/* Other */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes duck1Fly {
  0% {
    background-position: 0px -220px;
  }
  33% {
    background-position: -85px -220px;
  }
  66% {
    background-position: -170px -220px;
  }
  100% {
    background-position: -170px -220px;
  }
}
@keyframes duck2Fly {
  0% {
    background-position: -260px -220px;
  }
  33% {
    background-position: -340px -220px;
  }
  66% {
    background-position: -422px -220px;
  }
  100% {
    background-position: -422px -220px;
  }
}
@keyframes duck3Fly {
  0% {
    background-position: -520px -220px;
  }
  33% {
    background-position: -600px -220px;
  }
  66% {
    background-position: -682px -220px;
  }
  100% {
    background-position: -682px -220px;
  }
}
@keyframes duck1FlyingTrajectory {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  33% {
    top: 200px;
  }
  66% {
    top: 100px;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 300px;
    opacity: 0;
  }
}
@keyframes duck2FlyingTrajectory {
  0% {
    left: 0px;
    top: 300px;
    opacity: 1;
  }
  33% {
    top: 350px;
  }
  66% {
    top: 100px;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 400px;
    opacity: 0;
  }
}
@keyframes duck3FlyingTrajectory {
  0% {
    left: 0px;
    top: 200px;
    opacity: 1;
  }
  50% {
    top: 0px;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 200px;
    opacity: 0;
  }
}
@keyframes duck4FlyingTrajectory {
  0% {
    left: 0px;
    top: 100px;
    opacity: 1;
  }
  33% {
    top: 500px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 0;
    opacity: 0;
  }
}
@keyframes duck5FlyingTrajectory {
  0% {
    left: 0px;
    top: 600px;
    opacity: 1;
  }
  60% {
    top: 0px;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 600px;
    opacity: 0;
  }
}
@keyframes duck6FlyingTrajectory {
  0% {
    left: 0px;
    top: 100px;
    opacity: 1;
  }
  50% {
    top: 250px;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 70px);
    top: 350px;
    opacity: 0;
  }
}
@keyframes duckFall {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: calc(100vh - 76px);
    opacity: 0;
  }
}
@keyframes shotDisappearing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes dogWalk {
  0% {
    background-position: 0px 0px;
  }
  33% {
    background-position: -120px 0px;
  }
  66% {
    background-position: -240px 0px;
  }
  100% {
    background-position: -360px 0px;
  }
}
@keyframes dogJump {
  0% {
    background-position: -480px 0px;
  }
  15% {
    background-position: -480px 0px;
  }
  25% {
    background-position: 0px -110px;
  }
  50% {
    background-position: -120px -110px;
  }
  75% {
    background-position: -240px -110px;
  }
  100% {
    background-position: 1000px 1000px;
  }
}
@keyframes dogMove {
  0% {
    left: 0px;
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    left: calc(100% - 120px);
    opacity: 0;
  }
}
@keyframes dogAppearing {
  0% {
    bottom: -100px;
  }
  25% {
    bottom: 0px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}
@keyframes dogLaugh {
  0% {
    background-position: -360px -110px;
  }
  50% {
    background-position: -480px -110px;
  }
  100% {
    background-position: -360px -110px;
  }
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  background: #ddd;
}

body {
  background: url("../img/stage.png") center center no-repeat;
  background-size: cover;
  cursor: url("/img/crosshair.png") 32 32, crosshair;
}

.game-stage {
  position: relative;
  width: 100%;
  height: 82vh;
  display: flex;
  overflow: hidden;
}

.duck {
  width: 70px;
  height: 76px;
  position: absolute;
}
.duck:nth-child(4n+1) {
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px -220px;
  animation: duck1Fly 200ms infinite step-end alternate, duck1FlyingTrajectory 13s linear infinite;
}
.duck:nth-child(4n+1).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck1FlyingTrajectory 13s linear forwards, shotDisappearing 150ms linear forwards;
}
.duck:nth-child(4n+2) {
  background: url("../img/sprite.png") no-repeat;
  background-position: -260px -220px;
  animation: duck2Fly 200ms infinite step-end alternate, duck2FlyingTrajectory 10s linear infinite;
}
.duck:nth-child(4n+2).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck2FlyingTrajectory 10s linear forwards, shotDisappearing 150ms linear forwards;
}
.duck:nth-child(4n+3) {
  background: url("../img/sprite.png") no-repeat;
  background-position: -520px -220px;
  animation: duck3Fly 200ms infinite step-end alternate, duck3FlyingTrajectory 8s linear infinite;
}
.duck:nth-child(4n+3).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck3FlyingTrajectory 8s linear forwards, shotDisappearing 150ms linear forwards;
}
.duck:nth-child(4n+4) {
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px -220px;
  animation: duck1Fly 200ms infinite step-end alternate, duck4FlyingTrajectory 10s linear infinite;
}
.duck:nth-child(4n+4).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck4FlyingTrajectory 10s linear forwards, shotDisappearing 150ms linear forwards;
}
.duck:nth-child(4n+5) {
  background: url("../img/sprite.png") no-repeat;
  background-position: -260px -220px;
  animation: duck2Fly 200ms infinite step-end alternate, duck5FlyingTrajectory 9s linear infinite;
}
.duck:nth-child(4n+5).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck5FlyingTrajectory 9s linear forwards, shotDisappearing 150ms linear forwards;
}
.duck:nth-child(4n+6) {
  background: url("../img/sprite.png") no-repeat;
  background-position: -520px -220px;
  animation: duck3Fly 200ms infinite step-end alternate, duck6FlyingTrajectory 7s linear infinite;
}
.duck:nth-child(4n+6).falling {
  width: 100px;
  height: 95px;
  background: url("../img/shot.png") no-repeat center center;
  animation: duck6FlyingTrajectory 7s linear forwards, shotDisappearing 150ms linear forwards;
}

.dog-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.dog {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  height: 100px;
}

#dogLaugh {
  display: none;
  width: 100px;
  height: 100px;
  background: url("../img/sprite.png") no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: dogAppearing 2s linear forwards, dogLaugh 200ms infinite steps(1) alternate;
}

#dogWithDuck {
  display: none;
  width: 100px;
  height: 100px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -650px -5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: dogAppearing 2s linear forwards;
}

#dogWalk {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  background: url("../img/sprite.png") no-repeat;
  width: 120px;
  height: 100px;
  animation: dogWalk 200ms infinite step-end alternate, dogMove 15s linear infinite;
}
#dogWalk.jump {
  animation: dogJump 1s step-start 1 forwards, dogMove 15s linear infinite;
}

.game-stage button {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  margin-top: 15px;
  border: 3px solid #333;
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  animation: pulsate 1.5s ease infinite;
  cursor: pointer;
  transition: 0.3s;
}
.game-stage button:hover, .game-stage button:focus {
  color: #333;
  background: rgba(51, 51, 51, 0.2);
}
.game-stage #gameOver button {
  margin-top: 25px;
}

.btn-container {
  position: absolute;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.game-info-text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-info-text-wrap p,
.game-info-text-wrap label {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.game-info-text-wrap input {
  margin-top: 10px;
  min-width: 281px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 5px 5px 2px;
  border-radius: 0px;
  border: none;
  background: transparent;
  border-bottom: 3px solid #fff;
  transition: 0.3s;
}
.game-info-text-wrap input:hover, .game-info-text-wrap input:focus, .game-info-text-wrap input:active {
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}
.game-info-text-wrap input:active {
  border-bottom: 3px solid #fff;
}
.game-info-text-wrap input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
}

.total-score-box {
  padding: 20px;
  background: rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  border: 1px solid #7FCE16;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
}
.total-score-box p {
  color: #333;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  line-height: 1.6;
}
.total-score-box p#totalScore {
  color: #fff;
}
.total-score-box p span {
  text-transform: uppercase;
}

#start {
  top: 60%;
}

#gameOver {
  display: none;
}

.game-information {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  color: #fff;
}
.game-information > div {
  padding: 5px 10px;
  background: #000;
  border-radius: 5px;
  border: 1px solid #7FCE16;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px 2px;
}
.game-information > div p {
  font-size: 1.2rem;
}
.game-information > div h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  flex-basis: 100%;
}

#shot > div {
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px -557px;
}
#shot > div.lost {
  background: transparent;
}

#hit > div {
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -52px -557px;
}
#hit > div.success {
  background: url("../img/sprite.png") no-repeat;
  background-position: -25px -557px;
}/*# sourceMappingURL=main.css.map */